@charset "UTF-8";

/* Estilos para el menú */
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

a:hover {
    background-color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambiar la presentación a flexbox */
}

nav ul li {
    display: inline; /* Mostrar los elementos de lista en línea */
    margin-right: 20px; /* Espacio entre los elementos del menú */
}

nav ul li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento */
}
